@font-face {
  font-family: "Weather Icons";
  src: url(.././fonts/weather-icons.ttf);
}

$dark-blue: #004966;
$med-blue: #006e99;
$white: #fff;
$link-color: #ffff80;
$warning-dark: #8a6d3b;
$warning-med: #faebcc;
$warning-light: #fcf8e3;

*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none;
}

html {
  background: $dark-blue;
  h1 {
    font-size: 1.2rem;
    letter-spacing: 4px;
    line-height: 24px;
    padding: 6% 0;
    @media only screen and (min-width: 550px) {
      font-size: 1.4rem;
      padding: 6% 0 3%;
    }
  }
  main {
    padding-bottom: 80px;
    .spinner {
      padding-top: 40px;
    }
    .card {
      background: $med-blue;
      display: grid;
      grid-template-columns: 100%;
      margin: auto;
      max-width: 1000px;
      padding: 30px 20px;
      @media only screen and (min-width: 980px) {
        grid-template-columns: 50% 50%;
      }
      .location {
        font-size: 1rem;
        text-shadow: 1px 1px 1px $dark-blue;
      }
      .temp {
        font-size: 4.5rem;
        margin-top: 25px;
        text-shadow: 2px 2px 1px $dark-blue;
      }
      .weather-icon {
        font-family: "Weather Icons";
        font-size: 3.5rem;
        margin-top: 25px;
        text-shadow: 2px 2px 1px $dark-blue;
      }
      .weather {
        font-size: 1rem;
        margin-top: 25px;
        text-shadow: 1px 1px 1px $dark-blue;
      }
      .switch {
        background: $dark-blue;
        border: 3px solid $dark-blue;
        border-radius: 34px;
        height: 34px;
        margin: 25px 0;
        padding: 4px 8px;
        position: relative;
        text-align: right;
        width: 70px;
        &:before {
          background: $white;
          border-radius: 50%;
          bottom: 1px;
          content: "";
          height: 26px;
          left: 1px;
          position: absolute;
          width: 26px;
        }
      }
      .fahrenheit {
        text-align: right;
        &:before {
          animation: toggleF 0.15s ease-out;
          left: 1px;
        }
      }
      .celsius {
        text-align: left;
        &:before {
          animation: toggleC 0.15s ease-out;
          left: 37px;
        }
      }
      table {
        margin: auto;
        width: 215px;
        @media only screen and (min-width: 350px) {
          width: 285px;
        }
        @media only screen and (min-width: 550px) {
          width: 440px;
        }
      }
      .hourly-forecast {
        background: $dark-blue;
        display: flex;
        margin-bottom: 20px;
        tbody {
          overflow-x: auto;
          position: relative;
          tr {
            display: table-cell;
            padding: 18px;
            td {
              display: table-row;
              line-height: 25px;
              @media only screen and (min-width: 550px) {
                font-size: 0.7rem;
              }
            }
            .wi {
              font-family: "Weather Icons";
              font-size: 1rem;
            }
          }
        }
      }
      .daily-forecast {
        th {
          background: $dark-blue;
          font-size: 0.6rem;
          padding: 10px;
          text-transform: uppercase;
        }
        tr {
          border-top: 1px solid $dark-blue;
          td {
            line-height: 22px;
            padding: 6px;
            vertical-align: top;
            @media only screen and (min-width: 550px) {
              font-size: 0.7rem;
            }
            &:last-child {
              display: none;
              text-align: left;
              @media only screen and (min-width: 550px) {
                display: table-cell;
              }
            }
          }
          .wi {
            font-family: "Weather Icons";
            font-size: 1rem;
          }
        }
      }
    }
    .error-message {
      background: $warning-light;
      border: 1px solid $warning-med;
      border-radius: 3px;
      color: $warning-dark;
      line-height: 20px;
      margin: 40px auto 0;
      max-width: 900px;
      padding: 15px 10px;
    }
  }
  footer {
    background: $med-blue;
    bottom: 0;
    font-size: 0.6rem;
    left: 0;
    padding: 14px 0;
    position: absolute;
    right: 0;
    width: 100%;
    @media only screen and (min-width: 550px) {
      font-size: 0.8rem;
    }
    span {
      margin: 0 6px;
      @media only screen and (min-width: 550px) {
        margin: 0 10px;
      }
      a,
      a:visited,
      a:hover,
      a:active,
      a:focus {
        color: $link-color;
      }
    }
  }
}

@keyframes toggleF {
  from {
    left: 35px;
  }
  to {
    left: 1px;
  }
}

@keyframes toggleC {
  from {
    left: 1px;
  }
  to {
    left: 37px;
  }
}
