@font-face {
  font-family: "Weather Icons";
  src: url(.././fonts/weather-icons.ttf);
}

$dark-blue: #004966;
$med-blue: #006e99;
$link-color: #ffff80;

html {
  background: $dark-blue;
  h1 {
    font-size: 1.2rem;
    letter-spacing: 4px;
    padding: 6% 0;
    @media only screen and (min-width: 550px) {
      font-size: 1.4rem;
      padding: 6% 0 3%;
    }
  }
  main {
    padding-bottom: 80px;
    .card {
      background: $med-blue;
      display: grid;
      grid-template-columns: 100%;
      margin: auto;
      max-width: 1000px;
      padding: 30px 20px;
      @media only screen and (min-width: 980px) {
        grid-template-columns: 50% 50%;
      }
      .weather-icon {
        font-family: "Weather Icons";
      }
      table {
        margin: auto;
        width: 215px;
        @media only screen and (min-width: 350px) {
          width: 285px;
        }
        @media only screen and (min-width: 550px) {
          width: 440px;
        }
      }
      .hourly-forecast {
        background: $dark-blue;
        display: flex;
        margin-bottom: 20px;
        tbody {
          overflow-x: auto;
          position: relative;
          tr {
            display: table-cell;
            padding: 18px;
            td {
              display: table-row;
              line-height: 25px;
              @media only screen and (min-width: 550px) {
                font-size: 0.7rem;
              }
            }
            .wi {
              font-family: "Weather Icons";
              font-size: 1rem;
            }
          }
        }
      }
      .daily-forecast {
        th {
          background: $dark-blue;
          font-size: 0.6rem;
          padding: 10px;
          text-transform: uppercase;
        }
        tr {
          border-top: 1px solid $dark-blue;
          td {
            line-height: 22px;
            padding: 6px;
            vertical-align: top;
            @media only screen and (min-width: 550px) {
              font-size: 0.7rem;
            }
            &:last-child {
              display: none;
              text-align: left;
              @media only screen and (min-width: 550px) {
                display: table-cell;
              }
            }
          }
          .wi {
            font-family: "Weather Icons";
            font-size: 1rem;
          }
        }
      }
    }
  }
  footer {
    background: $med-blue;
    bottom: 0;
    font-size: 0.6rem;
    left: 0;
    padding: 14px 0;
    position: absolute;
    right: 0;
    width: 100%;
    @media only screen and (min-width: 550px) {
      font-size: 0.8rem;
    }
    span {
      margin: 0 6px;
      @media only screen and (min-width: 550px) {
        margin: 0 10px;
      }
      a,
      a:visited,
      a:hover,
      a:active,
      a:focus {
        color: $link-color;
      }
    }
  }
}
